/risor
/tmp*
.vscode
node_modules

risor*.vsix
risor-language-server.log

risor-example.db*

/cmd/risor/risor
/cmd/risor-lsp/risor-lsp
/cmd/risor-api/risor-api

cpu.out
cover.out
profile.out

dist/
venv/
site/

terraform.tfstate
terraform.tfstate.backup
.terraform/
.DS_Store
test/
coverage.out
unit-tests.xml

examples/go/sqlite/test.db*

/.dive
