cmd/cli/cli
.vscode
/risor
/cmd/risor/risor
cpu.out
node_modules
risor*.vsix
risor-language-server.log
cmd/risor-lsp/risor-lsp
cmd/simple-example/simple-example
cover.out
profile.out

dist/
venv/
site/

risor_v1
risor_v2

terraform.tfstate
terraform.tfstate.backup
.terraform/
.DS_Store
