go 1.21.4

use (
	.
	./cmd/risor
	./cmd/risor-api
	./cmd/risor-docs
	./cmd/risor-lsp
	./examples/go/struct
	./modules/aws
	./modules/gha
	./modules/image
	./modules/jmespath
	./modules/pgx
	./modules/sql
	./modules/template
	./modules/uuid
	./modules/vault
	./os/s3fs
)
