go 1.24.0

use (
	.
	./cmd/risor
	./cmd/risor-api
	./cmd/risor-docs
	./cmd/risor-lsp
	./cmd/risor-modgen
	./examples/go/struct
	./modules/aws
	./modules/bcrypt
	./modules/carbon
	./modules/cli
	./modules/gha
	./modules/htmltomarkdown
	./modules/image
	./modules/jmespath
	./modules/pgx
	./modules/sched
	./modules/semver
	./modules/shlex
	./modules/sql
	./modules/template
	./modules/uuid
	./modules/vault
	./os/s3fs
)
